{% extends "index.html" %}
{% block content %}

    <section class="main clearfix">

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work1.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work2.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work3.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="i/post/">
                <img src="/static/img/work4.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work5.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work6.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work2.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work3.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>

        <div class="work">
            <a href="/post/">
                <img src="/static/img/work1.jpg" class="media" alt=""/>
                <div class="caption">
                    <div class="work_title">
                        <h1>culpa qui officia deserunt mollit</h1>
                    </div>
                </div>
            </a>
        </div>
    </section><!-- end main -->
{% endblock %}